/* --------------------------------------------------
** style.css
** Stylesheet for www.nemohomellc.com
** Author: James Hoover (jamesfhoover@gmail.com)
** Copyright: 2015
** -------------------------------------------------- */


/* $HTML ELEMENTS
================================================== */
/* Typography
------------------------- */
html { 
  font-family: Courier;
  font-size: 100%;
  color: #000;
}
html,
body {height: 100%;}
h1 {font-size: 3em;}
h2 {font-size: 2em;}
h3 {font-size: 1.5em;}
h4 {font-size: 1.1em;}
h5 {font-size: 1em;}
h6 {font-size: .75em;}
p {
  font-size: 1em;
  line-height: 1.375em;
}

/* $UNIQUE PAGE CONTENT 
================================================== */
/* $Links
------------------------- */
/* Default Style */
a,
a:link,
a:visited,
a:active,
a.current,
a:hover {
  color:  #000;
  cursor: pointer;
  text-decoration: none;
}
a:hover {text-decoration: underline;}


/* $NAVIGATION
================================================== */
nav ul {display: inline-block;}
nav li {display: inline;}
.nav-logo {display: inline-block;}

/* $HOME
================================================== */
.home-img {
	width: 100px;
	height: 500px;
	 background: url(file:///Users/james/Documents/Web/nemo_homes/images/space_needle.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: 	 cover;
  -o-background-size: 		 cover;
  background-size: 				 cover;
}
/* $PROJECTS
================================================== */
.project-block img {width: 100%;}

/* $CONTACT
================================================== */
.contact-content {text-align: center;}

/* $FOOTER
================================================== */
.copyright {text-align: center;}

/* $BUTTONS
================================================== */
a.btn-redfin, .btn-redfin,
a.btn-zillow, .btn-zillow {
	padding: 5px 15px;
	color: white;
	display: inline-block;
  padding: 8px 30px;
  margin: 5px 0;
  text-shadow: none;
  color: #FFFFFF;
  font-size: 1em !important;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 2px;
  cursor: pointer;
  -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.1), 0 0 1px rgba(0,0,0,0.3);
     -moz-box-shadow: 0 2px 2px rgba(0,0,0,0.1), 0 0 1px rgba(0,0,0,0.3);
      -ms-box-shadow: 0 2px 2px rgba(0,0,0,0.1), 0 0 1px rgba(0,0,0,0.3);
       -o-box-shadow: 0 2px 2px rgba(0,0,0,0.1), 0 0 1px rgba(0,0,0,0.3);
          box-shadow: 0 2px 2px rgba(0,0,0,0.1), 0 0 1px rgba(0,0,0,0.3);
}
a.btn-redfin, .btn-redfin {background-color: #A02021;} /* redfin red */
a.btn-zillow, .btn-zillow	{background-color: #0074E4;} /* zillow blue */

a.btn-redfin:hover, .btn-redfin,
a.btn-zillow:hover, .btn-zillow{
  -webkit-box-shadow: 0 0 10px rgba(255,255,255,0.5), 0 0 1px rgba(255,255,255,1);
     -moz-box-shadow: 0 0 10px rgba(255,255,255,0.5), 0 0 1px rgba(255,255,255,1);
      -ms-box-shadow: 0 0 10px rgba(255,255,255,0.5), 0 0 1px rgba(255,255,255,1);
       -o-box-shadow: 0 0 10px rgba(255,255,255,0.5), 0 0 1px rgba(255,255,255,1);
          box-shadow: 0 0 10px rgba(255,255,255,0.5), 0 0 1px rgba(255,255,255,1);
}
/* $ICONS
================================================== */

/* $GRID
================================================== */
/* Row
------------------------- */
/* Makes row on page centered of specified width */
.row {
  zoom: 1;
  max-width: 1080px;
  margin: 0 auto;
}
/* row that takes full width of page */
.full-row {
  zoom:   1;
  width:  100%;
  margin: 0 auto;
}
/* Row Clearing
------------------------- */
.row:before, .full-row:before {
  content: "";
  display: table;
}
.row:after, .full-row:after {
  content: "";
  display: table;
  clear:   both;
}
/* Column
------------------------- */
/* Link: http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css */
.pull, /* float a single object LEFT */
.one-sixth,
.one-fifth,
.one-fourth,
.one-third,
.two-sixths,
.two-fifths,
.one-half,
.two-fourths,
.three-sixths,  
.three-fifths,  
.two-thirds,
.four-sixths,   
.three-fourths, 
.four-fifths,   
.five-sixths {
  float: left;
  margin-left: 4.1666666666667%;
}
.push {float: right;} /* float a single object RIGHT */
.full-row .push {margin-right:  4.1666666666667%;}

.one-sixth     {width: 13.194444444444%;}
.one-fifth     {width: 16.666666666667%;}
.one-fourth    {width: 21.875%;}
.one-third,
.two-sixths    {width: 30.555555555556%;}
.two-fifths    {width: 37.5%;}
.one-half,
.two-fourths,
.three-sixths  {width: 47.916666666667%;}
.three-fifths  {width: 58.333333333333%;}
.two-thirds,
.four-sixths   {width: 65.277777777778%;}
.three-fourths {width: 73.958333333333%;}
.four-fifths   {width: 79.166666666667%;}
.five-sixths   {width: 82.638888888889%;} 
.first {
  clear: both;
  margin-left: 0;
}

/* $MEDIA QUERIES 
========================= */
/* Mobile first. Using relative units */
/*28.75em*/
@media screen and (min-width: 0) and (max-width: 40.4em){
  .row {
    max-width: 100%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .one-sixth,
  .one-fifth,
  .one-fourth,
  .one-third,
  .two-sixths,
  .two-fifths,
  .one-half,
  .two-fourths,
  .three-sixths,  
  .three-fifths,  
  .two-thirds,
  .four-sixths,   
  .three-fourths, 
  .four-fifths,   
  .five-sixths {
    margin: 0;
    width: 100%
  }
}
@media screen and (min-width: 40.5em) and (max-width: 63.9em){
  .row {
    max-width: 100%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .one-sixth,
  .one-fifth,`
  .one-fourth,
  .one-third,
  .two-sixths,
  .two-fifths,
  .one-half,
  .two-fourths,
  .three-sixths {width: 47.916666666667%;}
  .three-fifths,  
  .two-thirds,
  .four-sixths,   
  .three-fourths, 
  .four-fifths,   
  .five-sixths  {width: 100%}


  /* 50% width causes two units per line so center the last odd unit */
  .last.third-width, .last.fifth-width {clear:both; width:50%; margin: 0 auto;}
}
@media screen and (min-width: 64em){

  .last.third-width {clear:none; width: 33.333%;}
  .last.fifth-width {clear:none; width: 20%;}
}